<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Elasticsearch Log Search</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/twitter-api" routerLinkActive="active">TwitterApi</a></li>
        <li><a routerLink="/access-log" routerLinkActive="active">AccessLog</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


